<ul class="social">
  <li><a href="{{ site.author.github }}" target="_blank"><i class="fab fa-github-alt"></i></a></li>
  <li><a href="{{ site.author.twitter }}" target="_blank"><i class="fab fa-twitter"></i></a></li>
  <li><a href="{{ site.author.linkedin }}" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
  <li><a href="{{ site.author.researchgate }}" target="_blank"><i class="fab fa-researchgate"></i></a></li>
  <li><a href="{{ site.author.googlescholar }}" target="_blank"><i class="ai ai-google-scholar"></i></a></li>
  <li><a href="{{ site.author.figshare }}" target="_blank"><i class="ai ai-figshare"></i></a></li>
  <li><a href="{{ site.author.zotero }}" target="_blank"><i class="ai ai-zotero"></i></a></li>
  <li><a href="{{ site.author.orchid }}" target="_blank"><i class="ai ai-orcid"></i></a></li>
  <li><a href="{{ site.author.codestats }}" target="_blank"><i class="fas fa-code"></i></a></li>
</ul>